{% extends 'layouts/main.html' %}
{% block title %}Venue Search{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ venue.name }}
			<div style="float:right;">
				<a href="/venues/{{ venue.id }}/edit" class="btn btn-primary">Edit</a>
				<button id="delete-venue" data-id="{{ venue.id }}" class="btn btn-danger">Delete</button>
			</div>
		</h1>
		<p class="subtitle">
			ID: {{ venue.id }}
		</p>
		<div class="genres">
			{% for genre in venue.genres %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ venue.city }}, {{ venue.state }}
		</p>
		<p>
			<i class="fas fa-map-marker"></i> {% if venue.address %}{{ venue.address }}{% else %}No Address{% endif %}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if venue.phone %}{{ venue.phone }}{% else %}No Phone{% endif %}
		</p>
		<p>
			<i class="fas fa-link"></i> {% if venue.website %}<a href="{{ venue.website }}"
				target="_blank">{{ venue.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if venue.facebook_link %}<a href="{{ venue.facebook_link }}"
				target="_blank">{{ venue.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
		</p>
		{% if venue.seeking_talent %}
		<div class="seeking">
			<p class="lead">Currently seeking talent</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ venue.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking talent
		</p>
		{% endif %}
		<form id="create-show-form" action="/shows/create" method="POST">
			<input type="hidden" name="venue_id" value="{{ venue.id }}">
			<div class="panel panel-default" style="margin-top: 10px;">
				<div class="panel-heading">Choose an artist for creating a show</div>
				<div class="panel-body">
					<input class="form-control" type="search" id="venue-search-artist" placeholder="Find an artist"
						aria-label="Search">
					<div id="venue-search-artist-results">
					</div>
				</div>
				<div class="panel-footer">
					<div class="form-group">
						<label for="start_time">Start Time</label>
						{{ showForm.start_time(class_ = 'form-control', placeholder='YYYY-MM-DD HH:MM', autofocus = true) }}
					</div>
					{{ showForm.csrf_token }}
					<button type="submit" class="btn btn-primary">Create Show</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-sm-6">
		<img src="{{ venue.image_link }}" alt="Venue Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{{ venue.upcoming_shows_count }} Upcoming
		{% if venue.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in venue.upcoming_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.artist_image_link }}" alt="Show Artist Image" />
				<h5><a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ venue.past_shows_count }} Past
		{% if venue.past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in venue.past_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.artist_image_link }}" alt="Show Artist Image" />
				<h5><a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

<script>
	document.getElementById('delete-venue').onclick = function () {
		fetch('/venues/' + this.dataset.id, {
			method: "DELETE",
		}).then(function () {
			alert("Venue successfully deleted!");
			window.location.href = '/';
		}).catch(function (error) {
			alert("Error occurred, Could not delete the venue.");
		});
	};

	var artistSearchInput = document.getElementById('venue-search-artist');
	artistSearchInput.oninput = function () {
		const formData = new FormData();
		formData.append('search_term', this.value);
		formData.append('result_format', 'json');
		fetch('/artists/search', {
			method: "POST",
			body: formData
		}).then(function (response) {
			return response.json();
		}).then(function (jsonResponse) {
			var resultsContainer = document.getElementById('venue-search-artist-results');
			resultsContainer.innerHTML = '';
			jsonResponse.data.forEach(function (result) {
				var radio = document.createElement('div');
				radio.class = 'radio';
				radio.innerHTML = '<label><input type="radio" name="artist_id" value="' + result.id + '"> ' + result.name + '</label>';
				resultsContainer.appendChild(radio);
			});
		}).catch(function (error) {
			alert("Error occurred, Could not search." + error);
		});
	};
	artistSearchInput.dispatchEvent(new Event('input', {
		bubbles: true,
		cancelable: true,
	}));

	document.getElementById('create-show-form').onsubmit = function (e) {
		var radios = document.getElementsByName('artist_id');
		var oneIsSelected = false;
		for (var i = 0, length = radios.length; i < length; i++) {
			if (radios[i].checked) {
				oneIsSelected = true;
				break;
			}
		}
		if (!oneIsSelected) {
			e.preventDefault();
			alert('Please select an artist first');
		}
	};
</script>

{% endblock %}